[Desktop Entry]
Encoding=UTF-8
Name=Link to MarcoMartines/GSM-GPRS-GPS-Shield: GSM/GPRS & GPS Shield Library for modules using SIM900/SIM908
Type=Link
URL=https://github.com/MarcoMartines/GSM-GPRS-GPS-Shield
Icon=text-html
