[Desktop Entry]
Encoding=UTF-8
Name=Link to What can I do against this error?
Type=Link
URL=http://forum.arduino.cc/index.php?topic=307728.0
Icon=text-html
